# Created by https://www.toptal.com/developers/gitignore/api/wordpress
# Edit at https://www.toptal.com/developers/gitignore?templates=wordpress

### WordPress ###
# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.


academy/conf
academy/logs
academy/app/sql
academy/app/public/conf
academy/app/public/wp-admin
academy/app/public/wp-includes
academy/app/public/.htaccess

academy/app/public/wp-admin/
/wp-content/index.php
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/index.php
/license.txt
/local-xdebuginfo.php
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
wp-config.php

# Example themes
/wp-content/themes/twenty*/

# Example plugin
# /wp-content/plugins/hello.php

# Uploads
/wp-content/uploads/

# Upgrade
/wp-content/upgrade/

# Log files
*.log

# htaccess
/.htaccess

# All plugins
# Note: If you wish to whitelist plugins,
# uncomment the next line
/wp-content/plugins/*
/wp-content/plugins/

# All themes
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes


# End of https://www.toptal.com/developers/gitignore/api/wordpress